<%= simple_form_for [@repo, @comment], remote: true do |f| %>
    <div class="input-group">
      <%= f.text_field :comment, class: "form-control", id: "comment-input", placeholder: "Say something about #{@repo.name}" %>
      <span class="input-group-btn">
        <%= f.submit class: "btn btn-success", value: "Commit" %>
        </span>
    </div><!-- /input-group -->
<% end %>

<script>
    $(function () {
        data = <%= raw @usernames.uniq.compact %>;
        $('#comment-input').atwho({at: "@", 'data': data});
    });
</script>