<div class="panel panel-default panel-search-item">
  <div class="panel-heading">
    <div class="panel-title">
      <img class="img-circle pull-left" src="<%= repo.avatar_url %>" alt="" height="65" width="65"/>
      <h3><%= link_to repo.fullname, repo_path(repo.fullname) %></h3>
      <h5><span>Shared publicly</span> - <span>Jun 27, 2014</span> </h5>
    </div>
    <!-- panel toolbar button -->
    <div class="panel-toolbar text-right">
      <button class="btn btn-primary">Default</button>
      <button class="btn btn-sm btn-success">Small</button>
    </div>
  </div>
  <div class="panel-body">
    <p></p>
  </div>
</div>
