<%
   meta title: "Search results for #{@query}"
%>

<div class="row">
    <div class="col-lg-12">
      <h2 class="text-primary">Search results for <i><%= @query %></i></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <% @repos.each do |repo| %>
          <%= render 'search_item', repo: repo %>
      <% end %>
    </div>
</div>