

<section class="featured">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-6 col-md-offset-3">

        <div class="align-center">
          <h2 class="slogan">See Reviews of Github Repositories</h2>
          <div class="search-form">
            <%= form_tag search_repos_path do %>
                <div class="input-group">
                  <input type="text" class="form-control" name="query" placeholder="Search for a repository">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                  </span>
                </div><!-- /input-group -->
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= link_to "Sign in with github", user_omniauth_authorize_path(:github) %>

<% if current_user %>
    <%= current_user.email %>
    <%= current_user.uid %>
<% end %>
