// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require sweet-alert
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require readmore
//= require bootstrap/tooltip
//= require bootstrap/collapse
//= require jquery.ui.effect-highlight
//= require rails-timeago
//= require nprogress
//= require nprogress-turbolinks
//= require jquery.caret
//= require jquery.atwho
//= require_tree .

var ready = (function () {
    $(".tt").tooltip()
    sweetAlertInitialize();
});

$(document).ready(ready);
$(document).on('page:load', ready);


$(document).ajaxError(function (e, xhr, settings) {
    if (xhr.status == 401) {
        if (xhr.responseText.indexOf("sign in") > -1)
            sweetAlert("Oops...", "You have to <a href=\"" + login_path + "\">login</a> first ", "error");
        else
            swal("Oops...", xhr.responseText, "error")
    }
    if (xhr.status == 500 || xhr.status == 404) {
        swal("Oops...", "It seems you broke something we forgot to test :(", "warning")
    }
});