@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
body {
  color:#777;
  background: #f7f7f7;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  text-shadow: none;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

.readme {
  padding: 10px;
  font-size: 14px;
}


.readme p{
  font-size: 14px;
}

.readme h1{
  font-size: 24px;
}


.readme h2{
  font-size: 22px;
}