@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
body {
  color:#777;
  background: #f7f7f7;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  text-shadow: none;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

.readme {
  padding: 10px;
  font-size: 14px;
}


.readme p{
  font-size: 14px;
}

.readme h1{
  font-size: 24px;
}


.readme h2{
  font-size: 22px;
}

.navbar {
  height: 58px;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 25px;
  line-height: 30px;
  height: 45px;
  font-weight: 700;
}


.navbar-nav>li>a {
  line-height: 35px;
}


section.featured {
  padding: 75px 0 125px;
  background: #272727;
  color: #fdfdfd;
}

section.featured h2.slogan {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  text-align: center
}

/* inner heading */
section.featured.inner {
  background: #eee;
  padding: 150px 0 50px;
}

.panel-search-item > .panel-heading > .panel-title > h3{
  margin-top: 10px;
}

.panel-search-item > .panel-heading > .panel-title > img{
  margin-right: 5px;
  margin-top: 5px;
}


.commentList {
  padding:0;
  list-style:none;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}

.pt20{
  padding-top: 20px;
}



/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
