<footer class="blog-footer">
  <p>
    <a class="btn btn-info" href="<%= repo_path("beydogan/gitcussion") %>"><i class="fa fa-comment-o"></i> leave a feedback</a>
  </p>
  <p>Built with love and Ruby on Rails by <a href="https://mehmet.pw">Mehmet Beydogan</a>.</p>
  <p><a href="http://www.gitcussion.com">Gitcussion</a> is licensed with Apache 2.0. Source code is available on <a href="https://github.com/beydogan/gitcussion">Github</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<script>
    <% if Rails.env.production?  %>
        var _gaq = _gaq || [];
        _gaq.push(['_setDomainName', "www.gitcuss.com"]);

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58177008-1', 'auto');
        ga('send', 'pageview');
    <% end %>
</script>
