<footer class="blog-footer">
  <p>Built with love and Ruby on Rails by <a href="https://mehmet.pw">Mehmet Beydogan</a>.</p>
  <p><a href="http://www.gitcuss.com">Gitcuss</a> is licensed with Apache 2.0. Source code is available on <a href="https://github.com/beydogan/gitcuss">Github</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>