<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><i class="fa fa-github"></i>&nbsp;Gitcuss</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><a href="#"><%= current_user.username %></a></li>
            <li><%= link_to "Logout",  destroy_user_session_path, :method => :delete  %></li>
        <% else %>
            <li><a href="<%= user_omniauth_authorize_path(:github) %>" data-no-turbolink>Sign in with Github</a></li>
        <% end %>
    </ul>
  </div>
  </div>
</div>