<!DOCTYPE html>
<html>
    <%= render "layouts/head_tag" %>
    <body>

    <%= render 'layouts/header' %>

    <div class="container pt20">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    </body>
</html>
